
{% extends "base.html" %}
{% block  content%}


<h1>
    Blank
</h1>

<ul class="list-group">
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
    <li class="list-group-item">Mango</li>
</ul>

{% endblock  %}